@font-face{font-family:"Lato";src:url('https://static.monerooutreach.org/font/Lato/Lato_2/lato-regular_2.woff2') format('woff2'),url('https://static.monerooutreach.org/font/Lato/Lato_2/lato-regular_2.woff') format('woff');font-weight:normal;font-style:normal}
@font-face{font-family:"LatoBold";src:url('https://static.monerooutreach.org/font/Lato/LatoBold_2/lato-bold_2.woff2') format('woff2'),url('https://static.monerooutreach.org/font/Lato/LatoBold_2/lato-bold_2.woff') format('woff');font-weight:normal;font-style:normal}

.AdmHead,.AdmBold{font-family:'LatoBold',sans-serif}
.AdmText,.AdmTiny,label{font-family:'Lato',sans-serif}
.AdmHead{font-size:1.5em}
.AdmText{font-size:.85em}
.AdmBold{font-size:1.1em}
.AdmTiny,label{font-size:.75em}
b{font-family:'LatoBold',sans-serif;font-weight:normal}

.ColorBox{width:calc(100% - 30px)!important;border-top-left-radius:0;border-bottom-left-radius:0}
.ColorSwatch{float:left;width:30px;height:32px;border:1px solid #333;border-right:0;box-sizing:border-box;border-top-left-radius:2px;border-bottom-left-radius:2px}

#AdminHead{position:absolute;z-index:2;width:100%;height:42px;top:0;padding:5px 2px;box-sizing:border-box}

#SpokeBtn,#UserBtn{position:relative;display:inline-block}
#SpokeBtn{margin-left:1px}
#SpokeBtn li,#UserBtn li{height:100%}
#SpokeBtnIco,#UserBtnIco{position:relative;padding:5px}
#UserBtnIco{padding:7px}
#SpokeBtn li ul{width:140px;border-radius:3px}
#UserBtn li ul{width:130px;left:10px;border-radius:3px}
#SpokeBtn li ul li,#UserBtn li ul li{text-align:right;padding-left:16px}
#SpokeBtn li ul li .Ico16,#UserBtn li ul li .Ico16{position:absolute;z-index:1;width:16px;height:16px;left:8px;padding:0}

#AdminMenu{position:absolute;width:calc(100% - 70px);height:100%;left:70px;top:0;padding:4px 2px 2px 5px;box-sizing:border-box;overflow:hidden}
.SpokeFilter{vertical-align:top;border-left:0;width:auto;height:30px;margin-top:2px;font-size:11px;border-radius:0;padding:5px 0 6px 4px}
.SpokeFilter:first-child{border-left:1px;border-radius:4px 0 0 4px}
.SpokeFilter:last-of-type{border-radius:0 4px 4px 0}

#AdminSearch{position:absolute;z-index:1;display:inline-block;vertical-align:top;width:40px}
.AdminSearch--active{width:125px !important}
#AdminSearch .SpokeFilter{width:100%;padding:4px 24px 2px 8px}

#AdminSearchBtn{position:absolute;z-index:1;right:1px;top:5px}

#AdminPagination{float:right;text-align:right;}

#AdminBody{position:fixed;width:100%;height:calc(100% - 45px);padding-bottom:175px;margin-top:45px;overflow-y:auto}
#SpokeAdmin_Login{position:relative;width:40%;height:250px;left:30%;top:50%;margin-top:-100px}
#SpokeAdmin_Login input{width:100%;margin-top:5px;border:0;border-radius:5px}
#SpokeAdmin_Login input[type="submit"]{border-width:1px;border-style:solid}

#SpokeIDGrp, #SpokePubGrp{position:relative;display:inline-block;padding-top:10px}
#SpokeID{position:relative;top:2px;font-size:22px;font-weight:bold}
#SpokePubGrp{float:right;padding-top:5px}
#SpokeIDGrp label{position:absolute;top:-1px}
#SpokePubGrp select, #SpokePubGrp div{float:right;margin-left:5px}
#SpokePubGrp select{width:auto;}

/* = MODAL & DRAGGABLE WINDOW
----------------------------*/
#Draggable{position:fixed;width:45%;height:60%;min-width:450px;min-height:500px;left:27.5%;top:15%;box-shadow:0 0 30px 0 rgba(0,0,0,0.4);border:1px solid rgba(19,19,19,0.3);border-radius:5px;z-index:9998}
#DraggableMenu{position:relative;height:40px;width:100%;cursor:move;padding:3px;box-sizing:border-box}
#DraggableStage{position:relative;height:calc(100% - 40px);padding-top:5px;box-sizing:border-box;overflow:auto}
#ModalStage,#DraggableStage{border-top:1px solid rgba(19,19,19,.25);-webkit-box-shadow: inset 0px 19px 24px -9px rgba(19,19,19,0.1);-moz-box-shadow: inset 0px 19px 24px -9px rgba(19,19,19,0.1);box-shadow:inset 0px 19px 24px -9px rgba(19,19,19,0.1)}

.DateSel .DateSel__Fld{float:left;width:calc(33.3% - 4px);margin:0 2px}
.DateSel--dtetme .DateSel__Fld{width:calc(20% - 4px)}
.DateSel .DateSel__Fld:first-child{margin-left:0}
.DateSel .DateSel__Fld:last-child{margin-right:0}

/* = TAB & BTN
----------------------------*/
.MiniTab, .MiniBtn{position:relative;padding:8px 7px 9px 27px;box-sizing:border-box;font-family:'LatoBold',Helvetica,sans-serif;font-size:11px;cursor:pointer;border-radius:3px;user-select:none}
.MiniTab div, .MiniBtn div, .MicroTab div{pointer-events:none}
.MiniTab--left, .MiniBtn--left{float:left;margin-right:3px}
.MiniTab--right, .MiniBtn--right{float:right;margin-left:3px}
.MiniTab--inactive, .MiniBtn--inactive{opacity:0.4;cursor:default}
.MiniTab--focus{cursor:default}
.MiniIco{position:absolute;width:16px;height:16px;left:0;margin-left:6px;top:7px}

details{position:relative;margin-top:10px;padding:.5em}
summary{font-weight: bold;margin: -.5em -.5em 0;padding: .5em}
details[open]{padding: .5em}
details[open] summary{border-bottom: 1px solid #aaa;margin-bottom:.5em}

/* = Forms
----------------------------*/
input,select,textarea,button{font-family:'Lato',Helvetica,sans-serif;font-size:14px;padding:5px 2px 6px 5px}
textarea.TextareaExpand{height:32px}

.FldBtn{position:relative;padding-right:32px}
.FldBtn input, .FldBtn select{border-top-right-radius:0;border-bottom-right-radius:0}
.FldBtn__btn{position:absolute;width:32px;height:32px;right:0;top:0;z-index:1;cursor:pointer;border-top-right-radius:3px;border-bottom-right-radius:3px;padding:8px;box-sizing:border-box}

/* = MediaBank
----------------------------*/
#MediaRemote,.MediaBackground{position:relative;height:100%;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEXs6eRHcEyduP7/AAAAAnRSTlNUAKhEVWgAAAAQSURBVHheY2A/gIJ+MCAjAHyDCLzz8AVlAAAAAElFTkSuQmCC');background-repeat:repeat}
#MediaRemote{height:175px;border-width:1px;border-style:solid;border-radius:3px;box-sizing:border-box}
.MediaRemote_thumb{position:relative;width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:contain}
.MediaRemote_menu{position:absolute;width:36px;height:100px;left:5px;top:5px;z-index:2}

#ImageBank{overflow-y:auto}
#MediaFilters{position:relative;height:34px;padding:5px 2px;box-sizing:border-box}
#MediaStage{height:calc(100% - 40px)}

#MediaFiles td:nth-child(3){max-width:90%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;direction:rtl;text-align:right}

.MediaTile{position:relative;height:110px;display:inline-block;padding:1px 2px;box-sizing:border-box;border-radius:2px;border:1px solid transparent}
.MediaThumb,.MediaThumbInactive{position:relative;width:100%;height:100%;border-radius:2px;box-sizing:border-box;background-repeat:no-repeat;background-position:center;background-size:contain;border:1px solid rgba(0,0,0,.2);cursor:pointer}
.MediaThumb:hover{opacity:0.85}

/* = Old DropDown
----------------------------*/
ul.menu{display:inline-block;padding:0;margin:0;opacity:1 !important;z-index:9999}
ul.menu li{position:relative;list-style-type:none;display:inline-block}

.smL,.smC,.smR,.smLang,.smLangFull{position:absolute;z-index:9999}
.smLang{width:35px;left:-20px}
.smLangFull{width:108px;left:-25px}
.smL,.smC,.smR{width:150px}
.smL{left:-12px}
.smC{left:-75px}
.smR{left:-130px}

ul.menu ul.sub-menu{display:none;padding:7px;margin:0;border-radius:3px}
.sub-menuL:after,.sub-menuL:before,.sub-menuC:after,.sub-menuC:before,.sub-menuR:after,.sub-menuR:before{bottom:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}

ul.menu ul.sub-menu li{list-style-type:none;display:block;padding:7px 9px;box-sizing:border-box;border-radius:3px;cursor:pointer}
ul.menu ul.sub-menu li div{pointer-events:none}
ul.menu ul.sub-menu li .b_lbl{position:absolute;width:calc(100% - 35px);left:30px;top:12px;font-size:.9em;text-align:right;font-family:Helvetica,Arial,sans-serif;padding-right:2px}	
ul.menu li:hover ul.sub-menu{display:block}

.sub-menuL:after{left:15%;border-width:8px;margin-left:-8px}
.sub-menuL:before{left:15%;border-width:9px;margin-left:-9px}
.sub-menuC:after{left:50%;border-width:8px;margin-left:-8px}
.sub-menuC:before{left:50%;border-width:9px;margin-left:-9px}
.sub-menuR:after{left:85%;border-width:8px;margin-left:-8px}
.sub-menuR:before{left:85%;border-width:9px;margin-left:-9px}

ul.menu ul.sub-menu{border-width:1px;border-style:solid}
ul.menu ul.sub-menu li:hover{background-color:rgba(0,174,239,0.5);color:rgb(255,255,255)}
ul.menu ul.sub-menu:after{border-color:rgba(255,255,255,0);border-bottom-color:rgb(255,255,255)}
ul.menu ul.sub-menu:before{border-color:rgba(235,235,235,0);border-bottom-color:rgb(235,235,235)}
ul.menu ul.sub-menu li .b_lbl{font-family:'Lato',Helvetica,Arial,sans-serif}

.LoadTranslationsExtend{position:relative;width:100%;box-sizing:border-box;font-size:.9em}

/* = New PAGE LAYOUT
----------------------------*/
.CodeEdit{width:100%;font-family:"Courier New", Courier, monospace;overflow:auto}
#EditSection_html{height:calc(100% - 24px);resize:none}
#PageLayoutMenu{position:absolute;z-index:9;top:0;left:0;bottom:0;right:0}
#PageLayoutMenuInner, #PageLayoutMenuMargin{position:absolute;box-sizing:border-box;border-width:1.5px}
#PageLayoutMenuInner{border-style:dashed}
#PageLayoutMenuBack{position:relative;width:100%;height:100%}
#PageLayoutMenuMargin{border-style:dotted}

#PageLayoutButtons{position:absolute;z-index:2;width:320px;height:54px;left:50%;margin-left:-160px;top:0;pointer-events:none}
#PageLayoutButtons td{padding:0 3px;}
.SectionMenuBtn{pointer-events:all}
.SectionMenuBtn div{pointer-events:none}

@media all and (max-width: 900px){
	#SpokeAdmin_Login{width:50%;left:25%}
}
@media all and (max-width: 750px){
	
}
@media all and (max-width: 700px){
	#SpokeAdmin_Login{width:60%;left:20%}
}
@media all and (max-width: 550px){
	#SpokeAdmin_Login{width:80%;left:10%}
}
